<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ settings.EXPLORER_NAME }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'transaction_details.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script defer
            src="//use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand mb-0 h1"
               href="/"><i class="fas fa-cubes"></i> {{ settings.MEX_BRAND }}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarsExample02"
                    aria-controls="navbarsExample02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'blocks' %}">Blocks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'transactions' %}">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'addresses' %}">Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'status' %}">Status</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

<script
        src="//code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.min.js"></script>
</body>
</html>
