{% extends "mex/base.html" %}
{% block content %}
    <div class="row mt-4">
        <div class="col">
            <h1 class="text-secondary">Streams</h1>
            <table class="table table-sm table-striped table-hover">
            <thead>
                <tr><th>Name</th><th>Items</th><th>Open</th></tr>
            </thead>
            <tbody>
                {% for stream in streams %}
                    {% if stream.name not in settings.MEX_IGNORE_STREAMS %}
                        <tr>
                            <td><a href="../stream/{{ stream.name }}">{{ stream.name }}</a></td>
                            <td>{{ stream.items }}</td>
                            <td>{{ stream.open }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}
