{% extends "mex/base.html" %}
{% load render_table from django_tables2 %}
{% load humanize %}
{% block content %}
    <div class="row mt-4">
        <div class="col">
            <h1>Stream: {{ view.kwargs.stream }} <span class="badge badge-danger">{{ table.rows|length|intword}} items</span></h1>
        </div>
        <div class="col align-self-end">
            <form action="" method="get">
                <div class="input-group mb-3 input-group-sm">
                    <input type="text" name="keys"
                           class="form-control"
                           placeholder="Lookup stream keys ... "
                           title="Multiple values may be separated by commas."
                           id="id_keys"
                           aria-label="Search"
                           {% if search_keys %}value="{{ search_keys }}"{% endif %}
                    >
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            {% render_table table %}
        </div>
    </div>
{% endblock %}
