table {
    font-size: 0.8rem;
    font-family: 'Fira Mono', monospace;
}

.badge {
    font-size: 0.7rem;
    font-weight: normal;
    padding: 0.3rem;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    margin-top: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

div.raw-transaction-view {
    background-color: #eeeeee;
    word-wrap: break-word;
    font-size: 0.8rem;
}

div.token-raw {
    border-radius: .5rem;
}

table tr:first-child th, table tr:first-child td {
    border: none;
}

.iter-block-link {
    font-weight: 600;
    font-size: 1.5rem;
}

table.table .block-hash-td {
    padding: 0 .75rem;
}

.perm-batch {
    background-color: #17A2B8;
    padding: 0.2rem 0.5rem;
    border-radius: .2rem;
    color: #fff;
    margin-right: .5rem;
}

.true-batch {
    background-color: #75ff4d;
    padding: 0.2rem 0.5rem;
    border-radius: .2rem;
    color: #fff;
    margin-right: .5rem;
}

.false-batch {
    background-color: #ff4758;
    padding: 0.2rem 0.5rem;
    border-radius: .2rem;
    color: #fff;
    margin-right: .5rem;
}